<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>documents</title>
  <script src="https://unpkg.com/vue@2.5.22"></script>
  <script src="https://unpkg.com/iview@3.5.4/dist/iview.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/iview@3.5.4/dist/styles/iview.css">
  <script src="documents.js"></script>
  <style type="text/css">
    .all-tag {
      margin: 2px;
    }
    .doc-tag {
      cursor: default;
    }
  </style>
</head>
<body>
  <div id="app" style="height: 100vh; padding: 16px; background: #eee">
    <row style="height: 100%;width: 100%">
      <i-col span="6" style="height: 100%;overflow: auto">
        <card shadow>
          <i-button v-for="(tag, tagIndex) in allTags" :key="tagIndex" @click="selectTag(tagIndex, tag.name)"
               :type="tag.color" :ghost="tagIndex !== selectedTagIndex" class="all-tag">
            {{ `${tag.name} (${tag.count})` }}
          </i-button>
        </card>
      </i-col>
      <i-col span="18" style="height: 100%;overflow: auto;padding: 0 0 0 16px">
        <card v-for="(document, index) in documents" :key="index" shadow style="margin-bottom: 16px">
          <p slot="title">
            <a v-if="document.isExternalLink" :href="document.path" target="_blank">
              {{ document.title }}
            </a>
            <a v-else :href="'https://github.com/field-gust/documents/blob/master/documents/' + document.path" target="_blank">
              {{ document.title }}
            </a>
          </p>
          <tag v-for="(tag, tagIndex) in document.tags" :key="tagIndex" class="doc-tag">
            {{tag}}
          </tag>
        </card>
      </i-col>
    </row>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        documents: [],
        tagMap: {},
        allTags: [],
        tagColors: ['error', 'warning', 'success', 'primary'],
        selectedTagIndex: null
      },
      methods: {
        init() {
          this.documents = documents
          let tagMap = {}
          for (let i = 0; i < documents.length; i++) {
            let tags = documents[i].tags
            if (tags && tags.length > 0) {
              for (let j = 0; j < tags.length; j++) {
                let indices = tagMap[tags[j]]
                if (indices == null) {
                  indices = []
                  tagMap[tags[j]] = indices
                }
                indices.push(i)
              }
            }
          }
          let allTags = []
          let colorIndex = 0
          for (let tag in tagMap) {
            allTags.push({ name: tag, count: tagMap[tag].length })
          }
          allTags.sort((tag1, tag2) => tag2.count - tag1.count)
          if (allTags.length > 0) {
            let maxCount = allTags[0].count
            let colors = this.tagColors
            let index = 0
            for (let i = 0; i < colors.length - 1; i++) {
              let minCount = maxCount * (colors.length - i - 1) / colors.length
              for (let j = index; j < allTags.length; j++) {
                if (allTags[j].count > minCount) {
                  allTags[j].color = colors[i]
                } else {
                  index = j
                  break
                }
              }
            }
            for (let j = index; j < allTags.length; j++) {
              allTags[j].color = colors[colors.length - 1]
            }
          }
          this.tagMap = tagMap
          this.allTags = allTags
        },
        selectTag(tagIndex, tagName) {
          if (tagIndex === this.selectedTagIndex) {
            this.selectedTagIndex = null
            this.documents = documents
          } else {
            this.selectedTagIndex = tagIndex
            let tempDocuments = []
            let documentIndices = this.tagMap[tagName]
            if (documentIndices && documentIndices.length > 0) {
              for (let i = 0; i < documentIndices.length; i++) {
                tempDocuments.push(documents[documentIndices[i]])
              }
            }
            this.documents = tempDocuments
          }
        }
      },
      created() {
        this.init()
      }
    })
  </script>
</body>
</html>
